<h1>Patients</h1>
<%= link_to "New Patient", new_patient_path, class: "btn btn-default btn-primary" %>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.email %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient)%></td>
        <td><%= link_to 'Delete', patient_path(patient),
                method: :delete,
                data: {confirm: 'Are you sure you want to delete this patient?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
